[Desktop Entry]
Encoding=UTF-8
Name=Fractalcoin
Comment=Fractalcoin P2P Cryptocurrency
Comment[fr]=Fractalcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Fractalcoin, eşten eşe kriptografik sanal para birimi
Exec=fractalcoin-qt %u
Terminal=false
Type=Application
Icon=fractalcoin128
MimeType=x-scheme-handler/fractalcoin;
Categories=Office;Finance;
