#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_fractalcoin
#build/fractalcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_fractalcoin)

DEB_INSTALL_EXAMPLES_fractalcoind += debian/examples/*
DEB_INSTALL_MANPAGES_fractalcoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix fractalcoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f fractalcoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake fractalcoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_fractalcoin
	src/test_fractalcoin

# Ensure wrapper is set executable
binary-post-install/fractalcoind:
	chmod +x $(cdbs_curdestdir)usr/bin/fractalcoind
binary-post-install/fractalcoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/fractalcoin-qt
